$color-background_page: #FFFFFF;
$color-button: #FB8F1D;
$color-header_link: #B8BECD;
$color-header_link-hover: #202336;
$color-holiday_finder-line: #202336;
$color-select_border: #AFB0B9;
$color-footer_text: #848484;
